#layoutBody .body {
	.box {
		/* 顶部搜索 */
		.toolbar {
			.col-sm-12 {
				padding: 5px 10px 5px 15px;
			}
			label {
				width: 45px;
				color: #666;
			}
			input.o-search-field {
				width: 82%;
			}
			select.o-search-field {
				width: 8%;
			}
		}
		.box-body {
			padding-bottom: 15px;
			border-bottom: 1px solid #cccccc;

			.row {
				/* 左侧内容块 */
				.chunk {
					padding: 0 55px;

					h3 a {
						font-size: 18px;
						color: #dd4c39;
						text-decoration: underline;

						em {
							text-decoration: underline;
						}
					}

					.content-body {
						margin: 0;
					}
					.content-footer {
						color: #666666;
					}
				}
				/* 右侧分类框 */
				.col-md-3 {
					width: 22%;
					border-left: 1px solid rgb(204, 204, 204);

					.box {
						&.box-solid {
							border: 1px solid #ddd;

							.box-header {
								background: #f5f5f5;
							}

							.box-body {
								border-bottom: none;
								li a {
									padding-left: 0;
									i {
										margin-right: 5px;
										color: #dd4c39;
									}
								}
							}
						}
					}
				}
			}
		}
		/* 分页条 */
		.pagination {
			margin-top: 15px;
			text-align: left;
			padding-left: 65px;
		}
	}
}

/* 高亮内容 */
em {
	color: #ffb10b;
	font-style: inherit;
}